body {
	font-family: Arial, Helvetica, sans-serif;
	margin:  0;
	padding: 0;
	
}
@media only screen and (min-width: 900px) {
	ul {
		box-sizing: border-box;
		font-size: 1.2em;
		margin: 0;
		padding-top: 10px;
		padding-left: 202px; 
		text-transform: uppercase;
		font-weight: bold;

	}
	li {
		box-sizing: border-box;
		margin-right: 12px;
		display: inline-block;
		list-style: none;
		vertical-align: middle;
	}

	a {
		box-sizing: border-box;
		color: black;
		text-decoration: none;
		letter-spacing: -2px;
	}

	header li:nth-child(3) a {
		box-sizing: border-box;
		color:  #39c2d7;
	}
	li > img {
		box-sizing: border-box;
		margin: 0;
		padding-top: 8px;
		padding-right: 32px;
		display: inline-block;

	}
	section:nth-child(2) {
		box-sizing: border-box;
		border: 1px solid red;
		width: 96%;
		margin: 14px auto 0 auto;
		height: 377px;
		background-image: url('../img/banner.jpg');
	}
	section p {
		font-size: 2.5em;
		box-sizing: border-box;
		padding: 0;
		color: white;
		padding-top: 12px;
		padding-left: 175px;
		letter-spacing: -1px;
		line-height: 47px;
		font-weight: bold;
	}
}

@media only screen and (min-width: 450px) and (max-width: 899px)  {
	*{
		display: none;
	}
}